@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'David Libre', serif;
}

.container {
    width: 80%;
    margin: 40px auto;
}

section {
    margin: 20px 0px;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

nav>ul>li {
    list-style: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #101A24;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;

}

h1 {
    color: #101A24;
    font-size: 70px;
    font-weight: 700;
    line-height: 72px;
    /* 102.857% */
}

h2 {
    color: #101A24;
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    /* 108.333% */
}

p {
    color: #5C6574;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin: 10px 0px;
    /* 181.25% */
}

.container-icon {
    width: 29px;
    height: 29px;
}

.btn-primary {
    color: #FFF;
    background-color: #EA6D27;
    border: 0;
    padding: 15px 20px;
    border-radius: 20% 5%;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    /* 145% */
}

.btn-secondary {
    color: #FFF;
    background-color: #101A24;
    border: 0;
    padding: 15px 20px;
    border-radius: 20% 5%;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.icon-container {
    margin: 40px 0px;
}

.icon-container i {
    font-size: 30px;
    text-align: center;
    border: 1px solid #101A24;
    border-radius: 50%;
    margin: 4px;
    padding: 5px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    position: relative;
}

.banner-content-img {
    position: absolute;
    top: -50%;
    left: 20%;
    z-index: -1;
    opacity: .4;
}

.banner-img-section {
    margin: 40px 0px 40px 10%;
    position: relative;
}

.banner-main-img {
    border: 1px solid #EA6D27;
    border-radius: 20% 5%;
}

.banner-secondary-img {
    width: 364px;
    height: 364px;
    position: absolute;
    bottom: 5%;
    left: -40%;
}

.banner-vector-img {
    position: absolute;
    top: -10%;
    right: -25%;
    z-index: -1;
}


/* special container */

.container-title {
    text-align: center;
}

.dish-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
    margin: 20px 0px;
}

.dish-card {
    width: 265px;
    height: 309px;
    background-color: rgb(219, 231, 227);
    border-radius: 20% 5%;
    text-align: center;
    padding: 10px 20px;
    position: relative;
}

.amount-badge {
    width: 54px;
    height: 54px;
    background-color: #101A24;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 50px;
}

/* welcome section */
.welcome-dish {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.welcome-img {
    position: relative;
}

.leaf-a {
    position: absolute;
    top: 40%;
    left: -5%;
}

.leaf-b {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: rotate(90deg);
}

.leaf-c {
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: rotate(45deg);
}

.experts-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bullet-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.bullet-point {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-title {
    text-align: center;
}

.review-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.review-box {
    width: 639px;
    text-align: center;
    background-color: rgb(219, 231, 227);
    border: 0;
    padding: 15px 20px;
    border-radius: 20% 5%;
    position: relative;
}

.review-box-img {
    width: 90px;
    height: 90px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 45%;
}

.review-text {
    margin: 30px 0px;
}

.promo-section {
    height: 499px;
    background-image: url("./images/cta-img-bg.png"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.promo-section-text {
    color: white;
    margin: 10px 0px;
}

.promo-input-field {
    width: 50%;
    height: 80px;
    border-radius: 20% 5%;
    font-size: 25px;
    padding: 0px 30px;
}






/* media querie for mobile*/

@media screen and (max-width:576px) {
    .container {
        width: 90%;
        margin: 40px auto;
    }

    .container-flex {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content-img {
        top: 5%;
        left: 10%;
    }

    .banner-main-img {
        width: 99%;
    }

    .banner-secondary-img {
        width: 150px;
        height: 150px;
        bottom: 5%;
        left: -10%;
    }

    .banner-vector-img {
        top: -30%;
        right: -5%;
    }

    .dish-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .welcome-dish {
        flex-direction: column-reverse;
    }

    .welcome-img-banner {
        width: 90%;
    }

    .leaf-a {
        width: 100px;
    }

    .leaf-b {
        width: 100px;
    }

    .leaf-c {
        width: 100px;
    }

    .experts-section {
        flex-direction: column;
    }

    .bullet-points {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .shef-img {
        width: 100%;
    }
}

/* media querie for tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .container {
        width: 90%;
        margin: 40px auto;
    }

    .container-flex {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content-img {
        top: 5%;
        left: 10%;
    }

    .banner-main-img {
        width: 99%;
    }

    .banner-secondary-img {
        width: 150px;
        height: 150px;
        bottom: 5%;
        left: -10%;
    }

    .banner-vector-img {
        top: -30%;
        right: -5%;
    }

    .dish-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome-img-banner {
        width: 100%;
    }

    .leaf-a {
        width: 100px;
    }

    .leaf-b {
        width: 100px;
    }

    .leaf-c {
        width: 100px;
    }

    .experts-section {
        flex-direction: column;
    }
}