@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'David Libre', serif;
}

.container {
    width: 80%;
    margin: 40px auto;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

nav>ul>li {
    list-style: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #101A24;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;

}

h1 {
    color: #101A24;
    font-size: 70px;
    font-weight: 700;
    line-height: 72px;
    /* 102.857% */
}

p {
    color: #5C6574;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin: 10px 0px;
    /* 181.25% */
}

.container-icon {
    width: 29px;
    height: 29px;
}

.btn-primary {
    color: #FFF;
    background-color: #EA6D27;
    border: 0;
    padding: 15px 20px;
    border-radius: 20% 5%;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    /* 145% */
}

.btn-secondary {
    color: #FFF;
    background-color: #101A24;
    border: 0;
    padding: 15px 20px;
    border-radius: 20% 5%;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.icon-container {
    margin: 40px 0px;
}

.icon-container i {
    font-size: 30px;
    text-align: center;
    border: 1px solid #101A24;
    border-radius: 50%;
    margin: 4px;
    padding: 5px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    position: relative;
}

.banner-content-img {
    position: absolute;
    top: -50%;
    left: 20%;
    z-index: -1;
    opacity: .4;
}

.banner-img-section {
    margin: 40px 0px 40px 10%;
    position: relative;
}

.banner-main-img {
    border: 1px solid #EA6D27;
    border-radius: 20% 5%;
}

.banner-secondary-img {
    width: 364px;
    height: 364px;
    position: absolute;
    bottom: 5%;
    left: -40%;
}

.banner-vector-img {
    position: absolute;
    top: -10%;
    right: -25%;
    z-index: -1;
}










/* media querie for mobile*/

@media screen and (max-width:576px) {
    .container {
        width: 90%;
        margin: 40px auto;
    }

    .container-flex {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content-img {
        top: 5%;
        left: 10%;
    }

    .banner-main-img {
        width: 99%;
    }

    .banner-secondary-img {
        width: 150px;
        height: 150px;
        bottom: 5%;
        left: -10%;
    }

    .banner-vector-img {
        top: -30%;
        right: -5%;
    }
}

/* media querie for tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .container {
        width: 90%;
        margin: 40px auto;
    }

    .container-flex {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content-img {
        top: 5%;
        left: 10%;
    }

    .banner-main-img {
        width: 99%;
    }

    .banner-secondary-img {
        width: 150px;
        height: 150px;
        bottom: 5%;
        left: -10%;
    }

    .banner-vector-img {
        top: -30%;
        right: -5%;
    }
}